@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

img {
  height: max-content;
}

.container {
  padding: 0 24px;
}

.logo {
  height: 110px;
  width: 150px;
  margin-top: 22%;
  animation: redirect 1s infinite linear;
}

.bg {
  background: url(/cover.png);
  background-size: cover;
  background-position: 50%;
  position: fixed;
  inset: 0px;
}

@media (min-width: 992px) {
  .bg {
    background-position: 100%;
  }
}

@keyframes redirect {
  50% {
    scale: 1.25;
  }
}